<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <link rel="alternate" href="feed.atom" type="application/atom+xml" />
  {{- if .Canonical }}
  <link rel="canonical" href="{{.Canonical}}">
  {{- end }}
  {{template "style" .}}
  {{template "favicon" .}}
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">
        {{.Site.Name}} &larr;
      </a>
    </nav>

    <article>
      <header class="lede">
        <h1 class="lede__headline">{{.Title}}</h1>

        <div class="lede__byline">
          {{- range .Authors }}
            <div class="lede__author">
              <a href="{{.URL}}" rel="author">{{.Name}}</a>
            </div>
          {{- end }}

          <time datetime="{{.LastUpdated}}">
            last updated {{.LastUpdatedOn}}
          </time>
        </div>
      </header>
      {{.Body}}
    </article>

    <footer>
      {{- if .Site.SourceURL }}
        <a href="{{.Site.SourceURL}}/articles/{{.ID}}.md">Edit this article</a>
      {{- end }}
    </footer>
  </div>
</body>
</html>
